<div class="content">
    <p>CONTENT</p>
    <p>{{testContentVariable}}</p>
    <div class="row crud">
        <div class="col-sm-12">
            <div class="col-sm-3"><button class="btn btn-sm" ng-click="create()">CREATE</button></div>
            <div class="col-sm-3"><button class="btn btn-sm" ng-click="read()">READ</button></div>
            <div class="col-sm-3"><button class="btn btn-sm" ng-click="update()">UPDATE</button></div>
            <div class="col-sm-3"><button class="btn btn-sm" ng-click="delete()">DELETE</button></div>
        </div>
    </div>
    <div class="row results">
        <div class="col-sm-12">
          <p class="success-text">{{successText}}</p>
          <p class="error-text">{{errorText}}</p>
        </div>
    </div>

</div>